@keyframes float {
	0% {
		transform: translate3d( 0, 0, 0 );
	}
	100% {
		transform: translate3d( 0, -10px, 0 );
	}
}

@keyframes slideIn {
	0% {
		transform: translate3d( 0, 100%, 0 );
	}
	100% {
		transform: translate3d( 0, 0, 0 );
	}
}